body {
    margin: 0;
    font-family: "Verdana";
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .top-wrapper {
    padding: 180px 0 100px 0;
    background-image: url("assets/bali.jpg");
    background-size: cover;
    color: #fff;
    text-align: center;
  }
  
  .top-wrapper h1 {
    font-color: #dff9fb;
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .contents{
      padding: 180px 0 100px 0;
  }

  .contens-item{
      float:left;
  }

  .section-title{
      text-align:center;
  }
